<%= form_with scope: :user, url: users_path, local: true do |form|%>
  <p>
    <% if @user.errors.any? %>
      <div id = "Error">
        <h2>
          <%= pluralize(@user.errors.count, "error")%>
          prohibited
          Saving details....
        </h2>
        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
  <% end %>
    <%= form.label :Name%><br>
    <%= form.text_field :name%><br><br>

    <%= form.label :Password%><br>
    <%= form.password_field :password%><br><br>

    <%= form.label :'Confirm Password'%><br>
    <%= form.password_field :password_confirmation%><br><br>

    <%= form.label :Gender%><br>
    <%= form.radio_button :gender, true, :class => 'form-control radio-inline' %> Male
    <%= form.radio_button :gender, false, :class => 'form-control radio-inline' %>Female<br><br>

    <%= form.label :Email%><br>
    <%= form.text_field :email%><br><br>

    <%= form.label :'Date Of Birth'%><br>
    <%= form.date_field :date_of_birth%><br><br>

    <%= form.button :submit%>
    <%= form.button :reset%>
  </p>
  <%end%>
