<table border="1">
  <tr><td><%= @user.name %></td>
  <% if @user.gender? %>
    <td> Male </tb>
  <% else %>
    <td>Female</td>
  <%end%>
  <td><%= @user.email %></td>
  <td><%= @user.date_of_birth %></td></tr>
</table >
<!-- <%= link_to 'add details', new_user_address_path(@user)%> -->

<h1> Posts </h1>
<% @user.posts.each do |post| %>
<%= Time.now %>
<%= post.content%>
<p>
    <%= link_to 'Destroy Post',
        [post.user, post],
        method: :delete, data: {confirm: 'Are you sure?'} %>
</p>
<% end %>
<h2>Add Post</h2>
<%= form_with(model: [ @user, @user.posts.build ], local: true) do |form|%>
  <p>
    <%= form.label :Post%><br>
    <%= form.text_area :content%>
  </p>
  <%= form.submit%>
  <% end %>
<%= link_to 'back', users_path%>
